<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <p class= "bg-danger" ><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</p>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <p  class= "bg-danger" > <%= msg %></p>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <p class="lead"><%= f.label :title %></p>
    <%= f.text_field :title %>
  </p>
  <br>

  <p>
    <p class="lead"><%= f.label :text %></p>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>